# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production & Build outputs
dist/
build/
.expo/
web-build/

# Go
bin/
main
*.exe
*.test
*.out

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor and OS files
.DS_Store
.idea/
.vscode/
*.swp
*.swo
